<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <welcome-file-list>
        <welcome-file>employee.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>controlllayer.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>controlllayer.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentManagerServlet</servlet-name>
        <servlet-class>controlllayer.DepartmentManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentEmployeeServlet</servlet-name>
        <servlet-class>controlllayer.DepartmentEmployeeServlet</servlet-class>
        <jsp-file></jsp-file><!-- Add jsp files to each servlet-->
    </servlet>
    <servlet>
        <servlet-name>TitleServlet</servlet-name>
        <servlet-class>controlllayer.TitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaryServlet</servlet-name>
        <servlet-class>controlllayer.SalaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/DepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentManagerServlet</servlet-name>
        <url-pattern>/DepartmentManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentEmployeeServlet</servlet-name>
        <url-pattern>/DepartmentEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TitleServlet</servlet-name>
        <url-pattern>/TitleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaryServlet</servlet-name>
        <url-pattern>/SalaryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
